/* Preflights are needed for default values of variables */
/* @unocss preflights;

.count {
  @apply text-orange-500;
}

.plus1 {
  @apply float-right;
} */

.settings {
  padding: 16px;

  h3:not(:first-child) {
    margin-top: 12px;
  }

  h3 {
    margin-bottom: 8px;
  }

  fieldset {
    margin-top: 8px;
    margin-bottom: 16px;

    legend {
      margin-bottom: 4px;
    }
  }

  span[title] {
    text-decoration: dotted underline 2px;
    font-style: italic;
  }
}

.settingsBtn {
  background: transparent;
  line-height: 32px;
  width: 32px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #303753;
  }
}

.checkbox {
  display: flex;
  margin-bottom: 2px;
  padding: 4px;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #303753;
  }

  /* Based on https://moderncss.dev/pure-css-custom-checkbox-style/ */
  input[type='checkbox'] {
    /* Add if not using autoprefixer */
    /* -webkit-appearance: none; */
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: #303753;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(0.075em);

    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #c1a657;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  /* input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  } */

  input[type='checkbox']:disabled {
    color: rgb(147, 150, 159);
    box-shadow: inset 1em 1em rgb(147, 150, 159);
    cursor: not-allowed;
  }

  span {
    display: inline-block;
    margin-left: 4px;
  }
}

.focus--label {
  display: inline-block;
  border-bottom: var(--wimp-focus-color) solid
    var(--wimp-focus-underline-thickness, 0px);
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: var(--wimp-focus-color);
    display: var(--wimp-focus-dot-display, none);
    margin-right: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
  }
}

.notepad {
  padding: 16px;
  font-size: 15px;

  div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  h3 {
    line-height: 28px;
  }

  textarea {
    margin-bottom: 16px;
    width: 100%;
    background: #a8abb2;
    color: #000;
    border-radius: 4px;
    resize: vertical;
    height: calc(100vh-200px);
  }

  .placeholder {
    color: rgb(105, 109, 119);
  }
}

.notepadBtn {
  background: transparent;
  line-height: 28px;
  width: 28px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #303753;
  }
}

.requestFieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .acceptRequestBtn {
    display: inline-block;
    flex: 0.7;
    max-width: 8em;

    button {
      width: 100%;
    }
  }
}

.wimp-dm-define {
  position: absolute;
  display: none;
  z-index: 999;
  background-color: transparent;

  button {
    margin-left: -27px;
    position: relative;
    height: 20px;
    width: 54px;
    line-height: 20px;
    font-size: 12px;
    background: rgb(74, 159, 195);
    padding: 0 8px;
    border-radius: 4px;
    border: none;
  }

  button::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(74, 159, 195) transparent transparent transparent;
  }

  button:hover,
  button:focus {
    background: #3989ab;
    color: #252a40;
  }

  button:hover::after,
  button:focus::after {
    border-color: #3989ab transparent transparent transparent;
  }

  button:focus {
    box-shadow: 0 0 4px 1px #c1a657;
  }

  button:active {
    box-shadow: 0 0 4px 1px hsl(45, 46%, 30%);
  }
}
